<h1>Upload Page!</h1>

<%= typeof msg != "undefined" ? msg : "" %>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <label for="image">Зураг</label><br>
  <input type="file" id="image" name="image" accept="image/*" /><br>
  <button type="submit">Submit</button>
</form>

<br>

<img src="<%= typeof file != "undefined" ? file : "" %>" alt="">

<img src="kat.jpg"/>
